@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
